.cookie-banner {
    display: none;
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 2rem;
    border: 0.1rem solid $c_secondary;
    border-top-right-radius: map-get($radius, "l");
    border-top-left-radius: map-get($radius, "l");
    background: $c_primary;
    bottom: 0;
    left: 0;
    font-size: map-get($text-size, "s");

    @include sm {
        font-size: map-get($text-size, "m");
    }

    @include lg {
        left: 2rem;
        bottom: 2rem;
        max-width: 40rem;
        border-bottom-right-radius: map-get($radius, "l");
        border-bottom-left-radius: map-get($radius, "l");
    }

    &__close-btn {
        position: absolute;
        display: flex;
        top: 1rem;
        right: 1rem;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 2rem;
        }
    }
}
