@mixin xs {
    @media (min-width: map-get($grid-breakpoints, "xs")) {
        @content;
    }
}

@mixin sm {
    @media (min-width: map-get($grid-breakpoints, "sm")) {
        @content;
    }
}

@mixin md {
    @media (min-width: map-get($grid-breakpoints, "md")) {
        @content;
    }
}

@mixin lg {
    @media (min-width: map-get($grid-breakpoints, "lg")) {
        @content;
    }
}

@mixin xl {
    @media (min-width: map-get($grid-breakpoints, "xl")) {
        @content;
    }
}

@mixin xxl {
    @media (min-width: map-get($grid-breakpoints, "xxl")) {
        @content;
    }
}

@mixin xxxl {
    @media (min-width: map-get($grid-breakpoints, "xxxl")) {
        @content;
    }
}

@mixin lineclamp($lines: 2, $lineHeight: false) {
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-line-clamp: $lines;
    line-clamp: $lines;
    overflow: hidden;
    text-overflow: ellipsis;

    @if $lineHeight {
        max-height: $lineHeight * $lines * 1px;
    }
}

@mixin line-height($fontSize, $lineHeightPx) {
    line-height: $lineHeightPx / $fontSize;
}

@mixin visually-hidden() {
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;

    &:not(caption) {
        position: absolute !important;
    }
}

@mixin visually-hidden-focusable() {
    &:not(:focus):not(:focus-within) {
        @include visually-hidden();
    }
}

@mixin custom-mq($prop, $viewport) {
    @media ($prop: $viewport) {
        @content;
    }
}

@mixin mq-range($min, $max) {
    @media (min-width: '#{$min}px') and (max-width: '#{$max}px') {
        @content;
    }
}